# Ambiente Virtual
venv/
.venv/
env/

# Configurações e Segredos
.env

# Banco de Dados
SQL/*.db

# Python
**/__pycache__/
*.pyc

# IDEs
.vscode/

# Arquivos de sistema e do Assistente IA
.DS_Store
Thumbs.db
.agent/
.states/
Brain.md
*.txt
*.log